---
import Layout from '../layouts/Layout.astro';
import Jumbotron from '../components/Jumbotron.astro';
import CategoryGrid from '../components/CategoryGrid.astro';
---

<Layout title="Welcome to Astro.">	
	<main>
		<Jumbotron
        title='Encuéntranos en ferias'
        desc="The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out."
        btnValue="Encuéntranos en ferias"
		class="bg-home with-mask bg-position-center"
		bgUrl="https://demos.creative-tim.com/astro-ecommerce/images/bg2.jpg">
        </Jumbotron>

		<div class="container flex-dir-column">
			<section>
	  
			  <div class="d-block">
				<h3 class="d-block-title">
				  Próximas ferias
				</h3>
				<a
				  class="text-dark font-weight-bold"
				  href="#"
				  style="text-decoration: none; font-weight: 500; color: #919191"
				  >Browse all categories &gt;</a
				>
			  </div>
	  
			  <CategoryGrid></CategoryGrid>
	  
			</secti>
	  
			<section>
	  
			  <div class="d-block">
				<h3 class="d-block-title">
				  Product list
				</h3>
				<a
				  class="text-dark font-weight-bold"
				  href="#"
				  style="text-decoration: none; font-weight: 500; color: #919191"
				  >Browse all categories &gt;</a
				>
			  </div>
	  
			  <div class="product-grid">
				<div class="card product-card">
				  <picture>
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/suit-3.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title text-align-center">Silk Dresses</h4>
	  
					<div class="color-selector">
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				  </div>
				</div>
	  
				<div class="card product-card">
				  <picture>
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/suit-1.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title text-align-center">Silk Dresses</h4>
	  
					<div class="color-selector">
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				  </div>
				</div>
	  
				<div class="card product-card">
				  <picture>
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/suit-2.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title text-align-center">Silk Dresses</h4>
	  
					<div class="color-selector">
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				  </div>
				</div>
	  
				<div class="card product-card">
				  <picture>
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/suit-5.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title text-align-center">Silk Dresses</h4>
	  
					<div class="color-selector">
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				  </div>
				</div>
	  
				<div class="card product-card">
				  <picture>
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/suit-1.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title text-align-center">Silk Dresses</h4>
	  
					<div class="color-selector">
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				  </div>
				</div>
	  
			  </div>
			  
			</section>
	  
		</div>
	</main>
</Layout>

<style>
	
</style>
