---

import Jumbotron from "../components/Jumbotron.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Welcome to Astro.">	
	<main>
		<Jumbotron
        class="bg-404" 
        title="Error 404"
		desc="La pagina que estabas buscando no existe en este sitio web."
		btnValue="Ir a la pagina de Inicio"
        btnHref="/"
        bgUrl="https://images.unsplash.com/photo-1610337673044-720471f83677?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80">
        </Jumbotron>

		<div class="container flex-dir-column">
			<section>
	  
			  <div class="d-block text-center">
				<h3 class="d-block-title">
				  Shop by category
				</h3>
				<a
				  class="text-dark font-weight-bold"
				  href="#"
				  style="text-decoration: none; font-weight: 500; color: #919191"
				  >Browse all categories &gt;</a
				>
			  </div>
	  
			  <div class="category-grid">
				<div class="card">
				  <picture class="with-gradient">
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://elmundodelsaquito.es/wp-content/uploads/sites/4/2023/09/zapatillas-324x324.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title">Silk Dresses</h4>
	  
					<a href="#" class="text-white text-sm font-weight-semibold mb-0"
					  >See products &gt;</a
					>
				  </div>
				</div>

				<div class="card">
				  <picture class="with-gradient">
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/category2.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title">Silk Dresses</h4>
	  
					<a href="#" class="text-white text-sm font-weight-semibold mb-0"
					  >See products &gt;</a
					>
				  </div>
				</div>

				<div class="card">
				  <picture class="with-gradient">
					<img
					alt="Imagen de zapatillas térmicas"
					  src="https://demos.creative-tim.com/astro-ecommerce//images/category3.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title">Silk Dresses</h4>
	  
					<a href="#" class="text-white text-sm font-weight-semibold mb-0"
					  >See products &gt;</a
					>
				  </div>
				</div>

				<div class="card">
				  <picture class="with-gradient">
					<img
					alt="Imagen de zapatillas térmicas"
					  src="	https://demos.creative-tim.com/astro-ecommerce//images/category4.jpg"
					/>
				  </picture>
	  
				  <div class="card-body">
					<p>Pre-fall</p>
	  
					<h4 class="card-title">Silk Dresses</h4>
	  
					<a href="#" class="text-white text-sm font-weight-semibold mb-0"
					  >See products &gt;</a
					>
				  </div>
				</div>
			  </div>
	  
			</section>
	  
		</div>
	</main>
</Layout>