---
---
<div class="flex gallery-item">
          
    <img
      alt="Imagen del producto"
      class="product-image"
      src="https://elmundodelsaquito.es/wp-content/uploads/sites/4/2023/09/AntifazMandalasColores2.webp"
    />
  </div>

  <div class="flex gallery-item">
    <img alt=""
      class="product-image"
      src="https://elmundodelsaquito.es/wp-content/uploads/sites/4/2023/09/AntifazMandalasColores.jpg"
    />
  </div>

  <div class="flex gallery-item">
    <img alt=""
      class="product-image"
      src="https://elmundodelsaquito.es/wp-content/uploads/sites/4/2023/09/CoixiInterior.jpg"
    />
  </div>

<style>
.gallery-item {
  min-width: 100%;
}

.gallery-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: -1;
}
</style>