---
import OrderSummary from "../../components/OrderSummary.svelte";
import Form from "../components/Form.svelte";
import Jumbotron from "../../components/Jumbotron.astro";
import FormLayout from "../../layouts/FormLayout.astro";
import Layout from "../../layouts/Layout.astro";
import SecondaryNav from "../../components/SecondaryNav.astro";

const identityCookieValue = Astro.cookies.get("identity")?.value;
let identity = null;

try {
  if (identityCookieValue) {
    identity = JSON.parse(identityCookieValue);
  }
} catch (error) {
  console.error("Error al analizar el valor de la cookie:", error);
  // Puedes tomar acciones adicionales aquí, según tus necesidades.
}
---

<Layout title="Finalizar compra">
  <main>
    <Jumbotron
      class="jumbotron--small bg-position-center"
      title="Mi cuenta"
      color="color-dark"
      desc="Accede para ver y guardar todos tus pedidos en un solo lugar, disfrutando de una experiencia de compra personalizada. ¡Tu conveniencia y seguridad son nuestra prioridad!"
    />

    <div class="container">
      <SecondaryNav></SecondaryNav>

      <div class="my-account-content">
        <p>
          Hola <strong>{identity?.username}</strong> 
          (¿no eres <strong>{identity?.username}</strong>? 
          <a href="/logout" data-astro-prefetch="false">
            Cerrar sesión
          </a>
          )
        </p>

        <p>
          Desde el escritorio de tu cuenta puedes ver tus <a
            href="/mi-cuenta/pedidos/"
            >pedidos recientes</a
          >, gestionar tus <a
            href="https://elmundodelsaquito.es/mi-cuenta/edit-address/"
            >direcciones de envío y facturación</a
          > y <a href="https://elmundodelsaquito.es/mi-cuenta/edit-account/"
            >editar tu contraseña y los detalles de tu cuenta</a
          >.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .container {
      gap: 30px;
      flex-direction: column;
  }
  .my-account-content {
    border-radius: 4px;
    color: #6e6e6e;
    font-size: 0.9em;
    width: 100%;
  }

  .my-account-content p {
    max-width: 837px;
    line-height: 1.5;
  }
</style>
