

<section class="jumbotron-hero bg-center bg-no-repeat">
    <div class="container py-4 flex-col">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Sacos térmicos de semillas</h1>
        
        <p class="mb-8 max-w-2xl font-normal text-gray-300 lg:text-xl">Sumérgete en el abrazo cálido de nuestros sacos térmicos, con una mezcla única de semillas, flores y esencias de lavanda. Diseñados para aliviar dolores musculares y artículares, calmar el frío y brindar una experiencia terapéutica única.</p>
        
        <div class="flex gap-3 flex-col sm:flex-row">
            <a href="/sacos-termicos" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white border border-transparent rounded-lg bg-[--primary-color] focus:ring-4 focus:ring-violet-500 dark:focus:ring-blue-900">
                Sacos térmicos
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Leer más
            </a>  
        </div>
    </div>
</section>


<style>
    .jumbotron-hero {
        padding: 5rem 0;
        min-height: calc(75vh - 100px);
        align-items: center;
        display: flex;
        background-image: url('https://pub-c76bb7bb21df478d974e513342653b39.r2.dev/uploads/cesto-con-flores-de-lavanda.webp');
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #1c0b32d6;
        }
    }
</style>
